<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="wrapper" class="box">
		<h1>404!</h1>
		<p>One does not simply navigate to {url:<%= url %>}... (Probably because it doesn't exist.)</p>
	</div>
  </body>
</html>