<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="wrapper" class="box">
		<!--TARP-->
		<h1>It's A Trap!</h1>
		<p>Not really, but something has gone terribly wrong. Here is some information: <%= e.message %></p>
	</div>
  </body>
</html>